@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  margin: 0;
  color: #0f172a;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.04em;
  /* tracking-tight */
  font-weight: 700;
  color: #0f172a;
}

p {
  color: #475569;
  /* slate-600 */
}

.hero-pattern {
  background-color: #f9fafb;
  background-image: radial-gradient(circle at 1px 1px, #e5e7eb 1px, transparent 0);
  background-size: 24px 24px;
}